.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  border-radius: 40px; 
  background-color:transparent; 
  color: black; 
}

.navbar a:hover {
  color: #0056b3;
}

.navbar .name {
  max-width: 100px;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.profile-dropdown {
  padding: 10px 20px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  position: relative;
}

.profile-dropdown.open {
  filter: grayscale(100%) sepia(200%) hue-rotate(180deg) brightness(80%) contrast(220%);
}

.triangle-dropdown {
  position: absolute;
  top: 30%;
  right: 0px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  transform: scale(2);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  z-index: 1;
}

.user-dropdown { 
  width: 50px;
  height: 50px;
  z-index: 1;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-options div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-options div:hover {
  background-color: #f9f9f9;
}
